<div class="cwDocumentBox">
  <span class="nameContainerAndTags">
    <a target="_blank" href="{{cleanUrl(item.doc['dynamicanonymous'])}}"> {{item.doc.name}} </a>
    <div class="tags">
      <div class="tag processarea" ng-if="processarea != ''" ng-repeat="processarea in item.doc['processareas'].split('|')">{{processarea}}</div>
      <div class="tag function" ng-if="function != ''" ng-repeat="function in item.doc['functions'].split('|')">{{function}}</div>
      <div class="tag type">{{item.doc.subtype}}</div>
    </div>
  </span>
  <span class="date">{{item.doc.whenupdated}}</span>
  <span class="action">
    <a ng-if="!cwApi.cwUser.isCurrentUserSocial()" href="{{cwApi.getSingleViewHash(x.objectTypeScriptname,item.doc._id)}}">
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </a>
    <i
      ng-if="isFav(x.objectTypeScriptname,item.doc._id)"
      class="fa fa-heart"
      aria-hidden="true"
      ng-click="removeAsFav(x.objectTypeScriptname,item.doc._id)"
    ></i>
    <i
      ng-if="!isFav(x.objectTypeScriptname,item.doc._id)"
      class="fa fa-heart-o"
      aria-hidden="true"
      ng-click="addAsFav(x.objectTypeScriptname,item.doc._id)"
    ></i>
    <a target="_blank" href="{{cleanUrl(item.doc['dynamicanonymous'])}}"><i class="fa fa-download" aria-hidden="true"></i></a>
  </span>
</div>
