<div ng-controller="cwLayoutSearch" class="cwLayoutSearch cwSearchEngine" ng-class="'cwSearchEngine-' + containerId">
  <div class="search-zone">
    <div class="search-zone-top-bar">
      <div class="search-zone-title">{{$root.i18n('advanced-search')}}</div>
      <div class="search-zone-search">
        <button ng-click="clickSearch()" class="search-button" title="{{$root.i18n('searchengine_searchbutton')}}">
          <i class="fa fa-search"></i>
        </button>
        <input
          type="search"
          name="find"
          class="layout-search-suggest"
          ng-model="searchValue"
          ng-model-options="{ debounce: 666 }"
          ng-change="keypressSearch($event)"
          ng-readonly="isDisabled"
        />
      </div>
      <div class="search-zone-search-button">
        <a ng-click="clickSearch()" class="searchButton"> {{$root.i18n('search')}} </a>
      </div>
    </div>
    <div class="options-container">
      <table ng-repeat="group in scopeJson" class="options-search-scope">
        <tbody ng-if="group.nodes.length > 1">
          <tr>
            <th colspan="3">{{group.label}}</th>
          </tr>
          <tr ng-repeat="node in group.nodes">
            <td class="search-scope-col1"></td>
            <td class="search-scope-col2">{{node.label}}</td>
            <td class="search-scope-col3">
              <div class="search-scope-container">
                <input ng-model="scope[node.index].properties[node.properties[0].index].isSelected" type="checkbox" />
              </div>
            </td>
          </tr>
        </tbody>
        <tbody ng-if="group.nodes.length == 1">
          <tr>
            <th colspan="3">{{group.nodes[0].label}}</th>
          </tr>
          <tr ng-repeat="property in group.nodes[0].properties">
            <td class="search-scope-col1"></td>
            <td class="search-scope-col2">{{property.label}}</td>
            <td class="search-scope-col3">
              <input ng-model="scope[group.nodes[0].index].properties[property.index].isSelected" type="checkbox" />
            </td>
          </tr>
        </tbody>
      </table>
      <table class="options-search-scope">
        <tr>
          <td class="search-scope-col1"></td>
          <td class="search-scope-col2"></td>
          <td class="search-scope-col3"></td>
        </tr>
        <tr>
          <td colspan="2"><span class="label-container">{{$root.i18n('layoutsearch_options_search_all_words')}}</span></td>
          <td><input type="checkbox" ng-model="options.search.allWords" /></td>
        </tr>
        <tr>
          <td colspan="2"><span class="label-container">{{$root.i18n('layoutsearch_options_search_exact_match')}}</span></td>
          <td><input type="checkbox" ng-model="options.search.exactMatch" /></td>
        </tr>
      </table>
      <div class="actions-container">
        <div class="search-zone-search-button">
          <a ng-click="saveOptions()" class="searchButton"> {{$root.i18n('save')}} </a>
        </div>
      </div>
    </div>
  </div>
  <div class="result-container">
    <!-- results -->
    <ul class="search-zone-result">
      <span class="search-result-node label-container" ng-if="searchValue.length > 1 && isDisabled">{{$root.i18n('searchengine_searching')}}</span>
      <span class="search-result-node no-result label-container" ng-if="!isDisabled && searchValue.length > 1 && !dataHasResult() ">
        {{$root.i18n('searchengine_noresult')}}
      </span>
      <li class="search-result-node" ng-repeat="x in data" ng-if="x.hasResult" ng-class="'search-result-node-' + x.nodeId">
        <div
          ng-click="toggleResultNode(x)"
          ng-attr-nodeid="x.nodeId"
          class="search-result-node-label"
          ng-class="'search-result-node-label-' + x.nodeId"
        >
          {{$root.cwApi.mapToTranslation(mmDataById[x.nodeId].displayName)}}
        </div>
        <div ng-if="x.isDisplayed" ng-attr-id="{{'search-result-node-list-' + x.nodeId}}" class="search-result-node-result">
          <ul class="list-search-result">
            <li
              ng-if="$index < 50 && x.extended || $index < 20"
              ng-repeat="item in x.items | filter:{ doc.famillemetier: ng.famillemetier | orderBy:'doc.name'"
            >
              <span ng-if="!x.directive" ng-bind-html="displayItemString(item)"></span>
              <ng-include ng-if="x.directive" src="'../../common/html/Search/' + x.directive + '.ng.html'"></ng-include>
            </li>
            <span class="moreResult" ng-click="x.extended = true" ng-if="x.items.length > 20 && !x.extended"> Afficher plus de Résultats ... </span>
            <span class="moreResult" ng-if="x.items.length > 50 && x.extended">
              Veuillez Restreindre les champs de recherche, trop de résultats, seul les 50 premiers résultats sont affichés ...
            </span>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <!-- options -->
</div>
