/* CUSTOM VARIABLES */
/* GLOBAL */
/* LOGIN */
/* DIAGRAM */
/* HOME PAGE */
/* MENU LEFT */
/* MAIN MENU */
/* SUB MENU */
/* PAGE TAB */
/* DROPDOWN NOTIFICATIONS */
/* SOCIAL */
/* LIST BOX */
/* PROPERTIES GROUP */
/* BUTTONS */
/* PAGE ACTIONS */
/* ACCORDIONS */
/* DISCUSSIONS */
/* WORLD MAP */
/* USER ZONE */
/* POPUP */
/* BADGES */
/* TASKS & NOTIFICATIONS */
/* GLOBAL SEARCH */
/* TOP BAR */
/* DIAGRAM TILE */
/* MATRIX ADVANCED */
/* DIAGRAM OVERLAY */
div.result-container ul.search-zone-result li.search-result-node .cwDocumentBox {
  display: flex;
  margin-bottom: 15px;
}
div.result-container ul.search-zone-result li.search-result-node .cwDocumentBox .nameContainerAndTags {
  flex: 1;
  color: #03a0ce;
  margin-right: 10px;
}
div.result-container ul.search-zone-result li.search-result-node .cwDocumentBox .nameContainerAndTags .tags {
  margin-top: 2px;
  display: flex;
  flex-wrap: wrap;
}
div.result-container ul.search-zone-result li.search-result-node .cwDocumentBox .nameContainerAndTags .tags .famillemetier {
  border-radius: 2px;
  padding: 2px 4px 2px 4px;
  color: #00a87f;
  background-color: #e5f6f2;
  margin-right: 2px;
  margin-bottom: 2px;
}
div.result-container ul.search-zone-result li.search-result-node .cwDocumentBox .nameContainerAndTags .tags .type {
  border-radius: 2px;
  padding: 2px 4px 2px 4px;
  color: #fd6c00;
  background-color: #fef0e5;
  margin-right: 2px;
  margin-bottom: 2px;
}
div.result-container ul.search-zone-result li.search-result-node .cwDocumentBox .date {
  width: 150px;
}
div.result-container ul.search-zone-result li.search-result-node .cwDocumentBox .action {
  width: 52px;
}
div.result-container ul.search-zone-result li.search-result-node .cwDocumentBox .action .fa.fa-heart {
  color: #03a0ce;
}
div.result-container ul.search-zone-result li.search-result-node .cwDocumentBox .action .fa.fa-heart-o {
  color: #03a0ce;
}
