/* CUSTOM VARIABLES */
/* GLOBAL */
/* LOGIN */
/* DIAGRAM */
/* HOME PAGE */
/* MENU LEFT */
/* MAIN MENU */
/* SUB MENU */
/* PAGE TAB */
/* DROPDOWN NOTIFICATIONS */
/* SOCIAL */
/* LIST BOX */
/* PROPERTIES GROUP */
/* BUTTONS */
/* PAGE ACTIONS */
/* ACCORDIONS */
/* DISCUSSIONS */
/* WORLD MAP */
/* USER ZONE */
/* POPUP */
/* BADGES */
/* TASKS & NOTIFICATIONS */
/* GLOBAL SEARCH */
/* TOP BAR */
/* DIAGRAM TILE */
/* MATRIX ADVANCED */
/* DIAGRAM OVERLAY */
.layoutSearch {
  width: 100%;
}
div.cwLayoutSearch {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
}
div.cwLayoutSearch .main {
  display: flex;
  width: 100%;
}
div.cwLayoutSearch .searchtitle {
  font-weight: bold;
  font-size: 20px;
  color: #03a0ce;
  margin-bottom: 1.5rem;
}
div.cwLayoutSearch div.search-zone {
  width: 18.75rem;
  margin: 1.5rem;
  margin-left: 0px;
  padding: 1.25rem;
  border: 1px solid #03a0ce;
  border-radius: 0.25rem;
  background-color: white;
}
div.cwLayoutSearch div.search-zone div.search-zone-top-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
div.cwLayoutSearch div.search-zone div.search-zone-top-bar div.search-zone-search {
  width: 80%;
}
div.cwLayoutSearch div.search-zone div.search-zone-top-bar div.search-zone-title {
  font-size: 1.125rem;
  font-weight: bold;
  color: #03a0ce;
  margin-bottom: 11px;
  border-bottom: 1px solid #03a0ce;
  padding-bottom: 1.25rem;
}
div.cwLayoutSearch div.search-zone div.search-zone-search {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
  background-color: white;
  padding: 10px 9px 10px 9px;
  display: flex;
}
div.cwLayoutSearch div.search-zone div.search-zone-search input.layout-search-suggest {
  border: none;
  outline: none;
  font-size: 0.75rem;
  width: 100%;
}
div.cwLayoutSearch div.search-zone div.search-zone-search input.layout-search-suggest:read-only {
  background-color: initial;
  cursor: wait;
}
div.cwLayoutSearch div.search-zone button.search-button {
  background: transparent;
  border: none;
  color: #03a0ce;
  outline: none;
}
div.cwLayoutSearch div.search-zone button.search-button:hover {
  color: #ffffff;
}
div.cwLayoutSearch div.search-zone button.search-button:disabled {
  background-color: initial;
  cursor: wait;
}
div.cwLayoutSearch div.search-zone div.options-container {
  display: flex;
  flex-direction: column;
}
div.cwLayoutSearch div.search-zone div.options-container table.options-search-scope {
  width: 100%;
  word-break: break-word;
  border-collapse: collapse;
}
div.cwLayoutSearch div.search-zone div.options-container table.options-search-scope th,
div.cwLayoutSearch div.search-zone div.options-container table.options-search-scope td {
  text-align: start;
}
div.cwLayoutSearch div.search-zone div.options-container table.options-search-scope th {
  font-weight: bold;
  font-size: 1rem;
  color: #03a0ce;
}
div.cwLayoutSearch div.search-zone div.options-container table.options-search-scope .search-scope-col1 {
  width: 5%;
}
div.cwLayoutSearch div.search-zone div.options-container table.options-search-scope .search-scope-col2 {
  width: 80%;
}
div.cwLayoutSearch div.search-zone div.options-container table.options-search-scope .search-scope-col3 {
  width: 5%;
}
div.cwLayoutSearch div.search-zone-top {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex: 1 0 auto;
  align-items: center;
}
div.cwLayoutSearch div.search-zone-top div.search-zone-top-bar {
  width: 100%;
}
div.cwLayoutSearch div.search-zone-top div.search-zone-top-bar div.search-zone-search {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
  background-color: white;
  padding: 10px 9px 10px 9px;
  display: flex;
}
div.cwLayoutSearch div.search-zone-top div.search-zone-top-bar div.search-zone-search input.layout-search-suggest {
  border: none;
  outline: none;
  font-size: 0.75rem;
  width: 100%;
}
div.cwLayoutSearch div.search-zone-top div.search-zone-top-bar div.search-zone-search input.layout-search-suggest:read-only {
  background-color: initial;
  cursor: wait;
}
div.cwLayoutSearch div.search-zone-top div.search-zone-top-bar div.search-zone-search button.search-button {
  background: transparent;
  border: none;
  color: #03a0ce;
  outline: none;
}
div.cwLayoutSearch div.search-zone-top div.search-zone-top-bar div.search-zone-search button.search-button:hover {
  color: #ffffff;
}
div.cwLayoutSearch div.search-zone-top div.search-zone-top-bar div.search-zone-search button.search-button:disabled {
  background-color: initial;
  cursor: wait;
}
div.cwLayoutSearch .no-result {
  text-align: center;
  font-size: 20px;
  padding: 20px;
  border-radius: 0.25rem;
  border: 1px solid #03a0ce;
  color: #03a0ce;
  background-color: #ffffff;
}
div.cwLayoutSearch div.search-zone-search-button {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
}
div.cwLayoutSearch div.search-zone-search-button a {
  margin-top: 5px;
  background-color: #03a0ce;
  color: #ffffff;
  border: 1px solid #03a0ce;
  padding: 8px;
  box-shadow: 1px 1px 1px #bdbdbd;
  border-radius: 0.25rem;
}
div.cwLayoutSearch div.result-container {
  flex: 1 0 auto;
  width: 50rem;
}
div.cwLayoutSearch div.result-container div.search-zone-result {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
}
div.cwLayoutSearch div.result-container div.search-zone-result div.search-result-node {
  background-color: white;
  border-radius: 0.25rem;
  padding: 1.25rem;
  margin-bottom: 1.5rem;
}
div.cwLayoutSearch div.result-container div.search-zone-result div.search-result-node .search-result-node-label {
  border-bottom: 1px solid #03a0ce;
  display: flex;
  justify-content: space-between;
}
div.cwLayoutSearch div.result-container div.search-zone-result div.search-result-node .search-filter {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #03a0ce;
}
div.cwLayoutSearch div.result-container div.search-zone-result div.search-result-node .search-filter .filter-table tr th {
  margin: 5px;
  text-align: center;
  vertical-align: middle;
  font-size: 1rem;
  color: #03a0ce;
}
div.cwLayoutSearch div.result-container div.search-zone-result div.search-result-node .search-filter .filter-table tr th.header-operator {
  width: 6rem;
}
div.cwLayoutSearch div.result-container div.search-zone-result div.search-result-node .search-filter .filter-table tr th.header-value,
div.cwLayoutSearch div.result-container div.search-zone-result div.search-result-node .search-filter .filter-table tr th.header-property {
  width: 20rem;
}
div.cwLayoutSearch div.result-container div.search-zone-result div.search-result-node .search-filter .filter-table tr td.add-filter-button .btn {
  width: 8rem;
}
div.cwLayoutSearch div.result-container div.search-zone-result div.search-result-node .search-filter .filter-table tr td.add-filter-button .btn-apply-filter {
  width: 12rem;
}
div.cwLayoutSearch div.result-container div.search-zone-result div.search-result-node .search-filter .filter-table tr td input {
  width: 19rem;
  border-radius: 4px;
  border: 1px solid #cccccc;
  padding: 0px 5px;
  height: 28px;
  background-color: white;
}
div.cwLayoutSearch div.result-container div.search-zone-result div.search-result-node .search-filter .filter-table tr td select {
  border-radius: 4px;
  border: 1px solid #cccccc;
  padding: 0px 5px;
  height: 30px;
  background-color: white;
}
div.cwLayoutSearch div.result-container div.search-zone-result div.search-result-node .search-result-node-result .list-search-result {
  list-style: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
}
div.cwLayoutSearch div.result-container div.search-zone-result div.search-result-node .rightExpandButton i.fa.fa-filter {
  color: lightgrey;
  margin-right: 1rem;
  font-size: 15px;
  cursor: pointer;
}
div.cwLayoutSearch div.result-container div.search-zone-result div.search-result-node .rightExpandButton i.fa.fa-filter.enabled,
div.cwLayoutSearch div.result-container div.search-zone-result div.search-result-node .rightExpandButton i.fa.fa-filter:hover {
  color: #03a0ce;
}
div.cwLayoutSearch div.result-container div.search-zone-result .pageManager {
  display: flex;
  border-top: 1px solid #03a0ce;
  margin-top: 10px;
  padding-top: 15px;
}
div.cwLayoutSearch div.result-container div.search-zone-result .pageManager .pageArrow {
  color: #03a0ce;
  width: 125px;
}
div.cwLayoutSearch div.result-container div.search-zone-result .pageManager .pageArrow .fa {
  margin-left: 5px;
  margin-right: 5px;
}
div.cwLayoutSearch div.result-container div.search-zone-result .pageManager .pageSelector {
  flex: 1;
  display: flex;
  justify-content: center;
}
div.cwLayoutSearch div.result-container div.search-zone-result .pageManager .pageSelector span {
  font-weight: bold;
  margin-left: 5px;
  font-size: 12px;
}
div.cwLayoutSearch div.result-container div.search-zone-result .pageManager .pageSelector .selected {
  color: #03a0ce;
}
.cw-home-navigation .homePage_main .homePage_column .homePage_display.Search {
  margin-bottom: 0px;
  margin-top: 0.75rem;
  background: transparent;
  box-shadow: none;
}
.cw-home-navigation .homePage_main .homePage_column .homePage_display.Search .homePage_display_content {
  padding: 0px;
  background: transparent;
}
.cw-home-navigation .homePage_main .homePage_column .homePage_display.Search .homePage_display_content .homePage_evolveView div.layoutSearch {
  margin: 0px;
}
.cw-home-navigation .homePage_main .homePage_column .homePage_display.Search .homePage_display_content .homePage_evolveView div.layoutSearch .cwLayoutSearch .fa-cog {
  display: none;
}
.cw-home-navigation .homePage_main .homePage_column .homePage_display.Search .homePage_display_content .homePage_evolveView div.layoutSearch .cwLayoutSearch .search-zone-top .search-zone-top-bar-option {
  background-color: rgba(55, 131, 154, 0.1);
}
