/* GLOBAL */
/* LOGIN */
/* DIAGRAM */
/* HOME PAGE */
/* MENU LEFT */
/* MAIN MENU */
/* SUB MENU */
/* PAGE TAB */
/* DROPDOWN NOTIFICATIONS */
/* SOCIAL */
/* LIST BOX */
/* PROPERTIES GROUP */
/* BUTTONS */
/* PAGE ACTIONS */
/* ACCORDIONS */
/* DISCUSSIONS */
/* WORLD MAP */
/* USER ZONE */
/* POPUP */
/* BADGES */
/* TASKS & NOTIFICATIONS */
/* GLOBAL SEARCH */
/* TOP BAR */
/* GRID */
/* DIAGRAM TILE */
/* MATRIX ADVANCED */
div.cwLayoutSearch {
  display: flex;
}
div.cwLayoutSearch div.left-container {
  width: 100%;
}
div.cwLayoutSearch div.left-container div.search-zone-top-bar {
  display: flex;
  background-color: #f5f5f5;
  height: 50px;
}
div.cwLayoutSearch div.left-container div.search-zone-top-bar .options-toggle-container {
  margin-top: auto;
  margin-bottom: auto;
}
div.cwLayoutSearch div.left-container div.search-zone-top-bar .options-toggle-container button.options-toggle {
  color: #26276d;
  background: transparent;
  border: none;
  outline: none;
}
div.cwLayoutSearch div.left-container div.search-zone-top-bar .options-toggle-container button.options-toggle:hover {
  color: #03a0ce;
}
div.cwLayoutSearch div.left-container div.search-zone-result ul.search-zone-result {
  padding-left: 20px;
}
div.cwLayoutSearch div.left-container div.search-zone-result ul.search-zone-result li.search-result-node {
  list-style: none;
  margin-bottom: 10px;
}
div.cwLayoutSearch div.popout-search-close {
  width: 0;
  overflow: hidden;
  right: 0;
}
div.cwLayoutSearch div.popout-search-open.right-container {
  min-height: 800px;
  right: 0px;
}
div.cwLayoutSearch div.popout-search-open.right-container .popout-search-options-content {
  padding: 15px;
}
div.cwLayoutSearch div.popout-search-open.right-container .popout-search-options-content .options-container {
  margin-bottom: 10px;
  font-size: 1.1em;
}
div.cwLayoutSearch div.popout-search-open.right-container .popout-search-options-content .options-container table.options-search-scope {
  max-width: 100%;
  word-break: break-word;
  border-collapse: collapse;
}
div.cwLayoutSearch div.popout-search-open.right-container .popout-search-options-content .options-container table.options-search-scope tr {
  border: solid 1px black;
}
div.cwLayoutSearch div.popout-search-open.right-container .popout-search-options-content .options-container table.options-search-scope tr th {
  min-width: 125px;
  border-right: solid 1px black;
}
div.cwLayoutSearch div.popout-search-open.right-container .popout-search-options-content .options-container table.options-search-scope tr td {
  min-width: 200px;
}
div.cwLayoutSearch div.popout-search-open.right-container .popout-search-options-content .label-container {
  font-weight: bold;
}
.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 22px;
  /* Rounded sliders */
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  top: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch input:checked + .slider {
  background-color: #2196f3;
}
.switch input:focus + .slider {
  box-shadow: 0 0 1px #03a0ce;
}
.switch input:checked + .slider:before {
  transform: translateX(20px);
}
.switch .slider.round {
  border-radius: 24px;
}
.switch .slider.round:before {
  border-radius: 50%;
}
@media screen and (min-width: 1024px) {
  div.search-zone-search {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    background-color: white;
    height: 34px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 5px;
    width: 680px;
  }
  div.search-zone-search input.layout-search-suggest {
    height: 100%;
    border: none;
    margin-left: 15px;
    width: 632px;
    outline: none;
    font-size: 1.3em;
  }
  div.search-zone-search input.layout-search-suggest:disabled {
    background-color: initial;
    cursor: not-allowed;
  }
  div.search-zone-search button.search-button {
    background: transparent;
    border: none;
    color: #26276d;
    outline: none;
  }
  div.search-zone-search button.search-button:hover {
    color: #03a0ce;
  }
  div.search-zone-search button.search-button:disabled {
    background-color: initial;
    cursor: not-allowed;
  }
}
@media screen and (max-width: 1023px) and (min-width: 240px) {
  div.search-zone-search {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    background-color: white;
    height: 34px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 5px;
  }
  div.search-zone-search input.layout-search-suggest {
    height: 100%;
    border: none;
    margin-left: 15px;
    width: min-content;
    outline: none;
    font-size: 1.3em;
  }
  div.search-zone-search input.layout-search-suggest:disabled {
    background-color: initial;
    cursor: not-allowed;
  }
  div.search-zone-search button.search-button {
    background: transparent;
    border: none;
    color: #26276d;
    outline: none;
  }
  div.search-zone-search button.search-button:hover {
    color: #03a0ce;
  }
  div.search-zone-search button.search-button:disabled {
    background-color: initial;
    cursor: not-allowed;
  }
  .popout-open .popout.search-zone-options {
    padding-top: initial;
  }
}
