/* CUSTOM VARIABLES */
/* GLOBAL */
/* LOGIN */
/* DIAGRAM */
/* HOME PAGE */
/* MENU LEFT */
/* MAIN MENU */
/* SUB MENU */
/* PAGE TAB */
/* DROPDOWN NOTIFICATIONS */
/* SOCIAL */
/* LIST BOX */
/* PROPERTIES GROUP */
/* BUTTONS */
/* PAGE ACTIONS */
/* ACCORDIONS */
/* DISCUSSIONS */
/* WORLD MAP */
/* USER ZONE */
/* POPUP */
/* BADGES */
/* TASKS & NOTIFICATIONS */
/* GLOBAL SEARCH */
/* TOP BAR */
/* DIAGRAM TILE */
/* MATRIX ADVANCED */
/* DIAGRAM OVERLAY */
div.cwLayoutSearch {
  display: flex;
}
div.cwLayoutSearch div.search-zone {
  width: 18.75rem;
  margin: 24px;
  padding: 24px;
  border: 1px solid #03a0ce;
  border-radius: 10px;
}
div.cwLayoutSearch div.search-zone div.search-zone-top-bar {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
}
div.cwLayoutSearch div.search-zone div.search-zone-top-bar div.search-zone-title {
  font-size: 1.125rem;
  font-weight: bold;
  color: #03a0ce;
  margin-bottom: 11px;
  border-bottom: 1px solid #03a0ce;
  padding-bottom: 24px;
}
div.cwLayoutSearch div.search-zone div.search-zone-top-bar div.search-zone-search {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  background-color: white;
  padding: 10px 9px 10px 9px;
  display: flex;
}
div.cwLayoutSearch div.search-zone div.search-zone-top-bar div.search-zone-search input.layout-search-suggest {
  border: none;
  outline: none;
  font-size: 0.75rem;
}
div.cwLayoutSearch div.search-zone div.search-zone-top-bar div.search-zone-search input.layout-search-suggest:read-only {
  background-color: initial;
  cursor: wait;
}
div.cwLayoutSearch div.search-zone div.search-zone-top-bar div.search-zone-search button.search-button {
  background: transparent;
  border: none;
  color: #03a0ce;
  outline: none;
}
div.cwLayoutSearch div.search-zone div.search-zone-top-bar div.search-zone-search button.search-button:hover {
  color: #ffffff;
}
div.cwLayoutSearch div.search-zone div.search-zone-top-bar div.search-zone-search button.search-button:disabled {
  background-color: initial;
  cursor: wait;
}
div.cwLayoutSearch div.search-zone div.search-zone-top-bar .label-container {
  font-weight: bold;
}
div.cwLayoutSearch div.search-zone div.options-container {
  margin-top: 20px;
}
div.cwLayoutSearch div.search-zone div.options-container table.options-search-scope {
  width: 100%;
  word-break: break-word;
  border-collapse: collapse;
}
div.cwLayoutSearch div.search-zone div.options-container table.options-search-scope th,
div.cwLayoutSearch div.search-zone div.options-container table.options-search-scope td {
  text-align: start;
}
div.cwLayoutSearch div.search-zone div.options-container table.options-search-scope th {
  font-weight: bold;
}
div.cwLayoutSearch div.search-zone div.options-container table.options-search-scope .search-scope-col1 {
  width: 5%;
}
div.cwLayoutSearch div.search-zone div.options-container table.options-search-scope .search-scope-col2 {
  width: 80%;
}
div.cwLayoutSearch div.search-zone div.options-container table.options-search-scope .search-scope-col3 {
  width: 5%;
}
div.cwLayoutSearch .no-result {
  text-align: center;
  font-size: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #03a0ce;
}
div.cwLayoutSearch div.search-zone-search-button {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
}
div.cwLayoutSearch div.search-zone-search-button a {
  margin-top: 5px;
  background-color: #03a0ce;
  color: #ffffff;
  border: 1px solid #03a0ce;
  padding: 8px;
  box-shadow: 1px 1px 1px #bdbdbd;
  border-radius: 5px;
}
div.cwLayoutSearch div.result-container {
  flex: 1;
  margin-top: 24px;
}
div.cwLayoutSearch div.result-container ul.search-zone-result {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
div.cwLayoutSearch div.result-container ul.search-zone-result li.search-result-node {
  list-style: none;
  border: 1px solid #03a0ce;
  border-radius: 10px;
  padding: 24px;
  margin-bottom: 24px;
}
div.cwLayoutSearch div.result-container ul.search-zone-result li.search-result-node .search-result-node-label {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #03a0ce;
  padding-bottom: 20px;
  margin-bottom: 15px;
  color: #03a0ce;
}
div.cwLayoutSearch div.result-container ul.search-zone-result li.search-result-node .search-result-node-result .list-search-result {
  list-style: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
}
div.cwLayoutSearch div.result-container ul.search-zone-result .moreResult {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  border-top: 1px solid #03a0ce;
  padding-top: 12px;
  margin-top: 24px;
}
