@import "../../_mixins";
@import "../../_variables";
div.cwLayoutSearch {
  display: flex;

  div.search-zone {
    width: 18.75rem;
    margin: 24px;
    padding: 24px;
    border: 1px solid @cwColor2;
    border-radius: 10px;
    background-color: white;
    div.search-zone-top-bar {
      display: flex;
      flex-direction: column;
      width: 100%;
      div.search-zone-title {
        font-size: 1.125rem;
        font-weight: bold;
        color: @cwColor2;
        margin-bottom: 11px;
        border-bottom: 1px solid @cwColor2;

        padding-bottom: 24px;
      }
      div.search-zone-search {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        background-color: white;
        padding: 10px 9px 10px 9px;
        display: flex;
        input.layout-search-suggest {
          border: none;
          outline: none;
          font-size: 0.75rem;
          width: 100%;
          &:read-only {
            background-color: initial;
            cursor: wait;
          }
        }
        button.search-button {
          background: transparent;
          border: none;
          color: @cwPageActionButtonBackgroundColor;
          outline: none;
          &:hover {
            color: @cwTopBarProfileLinkHoverColor;
          }
          &:disabled {
            background-color: initial;
            cursor: wait;
          }
        }
      }

      .label-container {
        font-weight: bold;
      }
    }

    div.options-container {
      margin-top: 20px;

      table.options-search-scope {
        width: 100%;
        word-break: break-word;
        border-collapse: collapse;

        th,
        td {
          text-align: start;
        }
        th {
          font-weight: bold;
        }
        .search-scope-col1 {
          width: 5%;
        }
        .search-scope-col2 {
          width: 80%;
        }
        .search-scope-col3 {
          width: 5%;
        }
      }
    }
  }

  .no-result {
    text-align: center;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid @cwColor1;
  }
  div.search-zone-search-button {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    a {
      margin-top: 5px;
      background-color: @cwColor1;
      color: #ffffff;
      border: 1px solid @cwColor1;
      padding: 8px;
      box-shadow: 1px 1px 1px #bdbdbd;
      border-radius: 5px;
    }
  }

  div.result-container {
    flex: 1;
    margin-top: 24px;
    ul.search-zone-result {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      li.search-result-node {
        list-style: none;
        background-color: white;
        border: 1px solid @cwColor2;
        border-radius: 10px;
        padding: 24px;
        margin-bottom: 24px;
        .search-result-node-label {
          font-size: 20px;
          font-weight: bold;
          border-bottom: 1px solid @cwColor2;
          padding-bottom: 20px;
          margin-bottom: 15px;
          color: @cwColor2;
        }

        .search-result-node-result {
          .list-search-result {
            list-style: none;
            padding: 0px;
            display: flex;
            flex-direction: column;
          }
        }
      }
      .moreResult {
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        font-weight: bold;
        border-top: 1px solid @cwColor2;
        padding-top: 12px;
        margin-top: 24px;
      }
    }
  }
}
