@import "../../_mixins";
@import "../../_variables";

.layoutSearch {
  width: 100%;
}
div.cwLayoutSearch {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  .main {
    display: flex;
    width: 100%;
  }

  .searchtitle {
    font-weight: bold;
    font-size: 20px;
    color: @cwColor1;
    margin-bottom: 1.5rem;
  }

  div.search-zone {
    width: 18.75rem;
    margin: 1.5rem;
    margin-left: 0px;
    padding: 1.25rem;
    border: 1px solid @cwColor2;
    border-radius: 0.25rem;
    background-color: white;
    div.search-zone-top-bar {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      div.search-zone-search {
        width: 80%;
      }
      div.search-zone-title {
        font-size: 1.125rem;
        font-weight: bold;
        color: @cwColor2;
        margin-bottom: 11px;
        border-bottom: 1px solid @cwColor2;

        padding-bottom: 1.25rem;
      }
    }
    div.search-zone-search {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
      border-radius: 0.25rem;
      background-color: white;
      padding: 10px 9px 10px 9px;
      display: flex;
      input.layout-search-suggest {
        border: none;
        outline: none;
        font-size: 0.75rem;
        width: 100%;
        &:read-only {
          background-color: initial;
          cursor: wait;
        }
      }
    }
    button.search-button {
      background: transparent;
      border: none;
      color: @cwPageActionButtonBackgroundColor;
      outline: none;
      &:hover {
        color: @cwTopBarProfileLinkHoverColor;
      }
      &:disabled {
        background-color: initial;
        cursor: wait;
      }
    }
    div.options-container {
      display: flex;
      flex-direction: column;
      table.options-search-scope {
        width: 100%;
        word-break: break-word;
        border-collapse: collapse;

        th,
        td {
          text-align: start;
        }
        th {
          font-weight: bold;
          font-size: 1rem;
          color: @cwColor1;
        }
        .search-scope-col1 {
          width: 5%;
        }
        .search-scope-col2 {
          width: 80%;
        }
        .search-scope-col3 {
          width: 5%;
        }
      }
    }
  }

  div.search-zone-top {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex: 1 0 auto;
    align-items: center;
    div.search-zone-top-bar {
      width: 100%;
      div.search-zone-search {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
        border-radius: 0.25rem;
        background-color: white;
        padding: 10px 9px 10px 9px;
        display: flex;
        input.layout-search-suggest {
          border: none;
          outline: none;
          font-size: 0.75rem;
          width: 100%;
          &:read-only {
            background-color: initial;
            cursor: wait;
          }
        }
        button.search-button {
          background: transparent;
          border: none;
          color: @cwPageActionButtonBackgroundColor;
          outline: none;
          &:hover {
            color: @cwTopBarProfileLinkHoverColor;
          }
          &:disabled {
            background-color: initial;
            cursor: wait;
          }
        }
      }
    }
    div.search-zone-top-bar-option {
    }
  }

  .no-result {
    text-align: center;
    font-size: 20px;
    padding: 20px;
    border-radius: 0.25rem;
    border: 1px solid @cwColor1;
    color: @cwColor1;
    background-color: #ffffff;
  }
  div.search-zone-search-button {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    a {
      margin-top: 5px;
      background-color: @cwColor1;
      color: #ffffff;
      border: 1px solid @cwColor1;
      padding: 8px;
      box-shadow: 1px 1px 1px #bdbdbd;
      border-radius: 0.25rem;
    }
  }

  div.result-container {
    flex: 1 0 auto;
    width: 50rem;
    div.search-zone-result {
      margin-top: 1.5rem;
      display: flex;
      flex-direction: column;
      div.search-result-node {
        background-color: white;
        border-radius: 0.25rem;
        padding: 1.25rem;
        margin-bottom: 1.5rem;
        .search-result-node-label {
          border-bottom: 1px solid @cwColor1;
          display: flex;
          justify-content: space-between;
        }
        .search-filter {
          margin-top: 1.25rem;
          margin-bottom: 1.25rem;
          padding-bottom: 1.25rem;

          border-bottom: 1px solid @cwColor1;
          .filter-table {
            tr {
              th {
                margin: 5px;
                text-align: center;
                vertical-align: middle;
                font-size: 1rem;
                color: @cwColor1;
                &.header-operator {
                  width: 6rem;
                }
                &.header-value,
                &.header-property {
                  width: 20rem;
                }
              }
              td {
                &.add-filter-button {
                  .btn {
                    width: 8rem;
                  }
                  .btn-apply-filter {
                    width: 12rem;
                  }
                }
                input {
                  width: 19rem;
                  border-radius: 4px;
                  border: 1px solid #cccccc;
                  padding: 0px 5px;
                  height: 28px;
                  background-color: white;
                }

                select {
                  border-radius: 4px;
                  border: 1px solid #cccccc;
                  padding: 0px 5px;
                  height: 30px;
                  background-color: white;
                }
              }
            }
          }
        }

        .search-result-node-result {
          .list-search-result {
            list-style: none;
            padding: 0px;
            display: flex;
            flex-direction: column;
          }
        }

        .rightExpandButton {
          i.fa.fa-filter {
            color: lightgrey;
            margin-right: 1rem;
            font-size: 15px;
            cursor: pointer;
            &.enabled,
            &:hover {
              color: @cwColor1;
            }
          }
        }
      }
      .pageManager {
        display: flex;
        border-top: 1px solid;
        margin-top: 10px;
        padding-top: 15px;
        .pageArrow {
          width: 125px;
          .fa {
            margin-left: 5px;
            margin-right: 5px;
          }
        }
        .pageSelector {
          flex: 1;
          display: flex;
          justify-content: center;
          span {
            font-weight: bold;
            margin-left: 5px;
            font-size: 12px;
          }
          .selected {
            color: @cwColor2;
          }
        }
      }
    }
  }
}

.cw-home-navigation .homePage_main .homePage_column .homePage_display.Search {
  margin-bottom: 0px;
  margin-top: 0.75rem;
  background: transparent;
  box-shadow: none;
  .homePage_display_content {
    padding: 0px;
    background: transparent;
    .homePage_evolveView {
      div.layoutSearch {
        margin: 0px;
        .cwLayoutSearch {
          .fa-cog {
            display: none;
          }
          .search-zone-top {
            .search-zone-top-bar-option {
              background-color: @cwBodyBackgroundColor;
            }
          }
        }
      }
    }
  }
}
